In [1]:
import numpy as np
import pandas as pd

### Series 값 변경
- 추가 및 업데이트 : 인덱스를 이용
- 삭제 : drop함수 이용

In [2]:
s = pd.Series(np.arange(100, 105), ['a','b','c','d','e'])
s

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [4]:
s['a'] = 200
s

a    200
b    101
c    102
d    103
e    104
dtype: int32

In [18]:
s['k'] = 300
s

a    200
b    101
c    102
d    103
e    104
k    300
dtype: int64

In [19]:
# s자체에서 drop 된 것이 아니라, 복사본을 생성한 후 반환시킨다.
s.drop('k')

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [20]:
# 실제로 삭제하려면 inpace를 True로 설정해줘야한다.
s.drop('k', inplace= True)

In [21]:
s

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [23]:
s[['a','b']] = [300, 900]
s

a    300
b    900
c    102
d    103
e    104
dtype: int64

### Slicing
- 리스트, ndarray와 동일하게 적용한다.

In [24]:
s1 = pd.Series(np.arange(100, 105))
s1

0    100
1    101
2    102
3    103
4    104
dtype: int32

In [25]:
s1[1:3]

1    101
2    102
dtype: int32

In [27]:
s2 = pd.Series(np.arange(100, 105),['a','b','c','d','e'])
s2

a    100
b    101
c    102
d    103
e    104
dtype: int32

In [29]:
# index가 숫자형이 아닐지라도 가능하다.
s2[1:3]

b    101
c    102
dtype: int32

In [31]:
s2['c':'d']

c    102
d    103
dtype: int32