In [1]:
import pandas_datareader.data as web

In [16]:
import pandas as pd
import numpy as np
import pandas_datareader as pdr

In [6]:
# apple, IBM, 마이크로소프트, 구글의 가격과 거래량 일별로 갖고오기

all_data = {ticker: web.get_data_yahoo(ticker)
           for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}
price = pd.DataFrame({ticker: data['Adj Close']
                     for ticker, data in all_data.items()})
volume = pd.DataFrame({ticker: data['Volume']
                      for ticker, data in all_data.items()})

In [7]:
returns = price.pct_change()

returns.tail()

                AAPL       IBM      MSFT      GOOG
Date
2020-09-29 -0.007568 -0.006490 -0.010409  0.003284
2020-09-30  0.015076  0.006036  0.014812  0.000184
2020-10-01  0.008462 -0.004767  0.010127  0.013943
2020-10-02 -0.032280 -0.004294 -0.029511 -0.021254
2020-10-05  0.030791  0.011943  0.020321  0.018925

- corr method는 NA가 아니며 정렬된 색인에서 연속하는 두 Series에 대해 상관관계를 계산하고 cov method는 공분산을 계산한다.

In [10]:
returns.MSFT.corr(returns.IBM)

0.5737015174579984

In [11]:
returns.MSFT.cov(returns.IBM)

0.00016111727928399633

In [12]:
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.497463  0.708060  0.656735
IBM   0.497463  1.000000  0.573702  0.534282
MSFT  0.708060  0.573702  1.000000  0.783294
GOOG  0.656735  0.534282  0.783294  1.000000

In [13]:
returns.cov()

          AAPL       IBM      MSFT      GOOG
AAPL  0.000352  0.000149  0.000233  0.000204
IBM   0.000149  0.000256  0.000161  0.000141
MSFT  0.000233  0.000161  0.000308  0.000227
GOOG  0.000204  0.000141  0.000227  0.000273

In [14]:
returns.corrwith(returns.IBM)

AAPL    0.497463
IBM     1.000000
MSFT    0.573702
GOOG    0.534282
dtype: float64

- 시가총액의 퍼센트 변화율에 대한 상관관계 계산 방법

In [15]:
returns.corrwith(volume)

AAPL   -0.098439
IBM    -0.098664
MSFT   -0.055959
GOOG   -0.152486
dtype: float64